# Application
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://admin:admin123@localhost:27017/darsoft_db?authSource=admin

# JWT
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRATION=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Admin Seeding
ADMIN_FULLNAME=Super Admin
ADMIN_EMAIL=admin@darsoft.com
ADMIN_PASSWORD=Admin@123

